@model IEnumerable<Employee_Project_Management_System.Models.Project>

<h2>Projects Assigned to Employee</h2>

<table border="1">
    <tr>
        <th>Project Title</th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Title</td>
        </tr>
    }
</table>