<h2>Login</h2>

<form asp-action="Login" method="post">

    <label>Username</label>
    <input name="username" />
    <br><br>

    <label>Password</label>
    <input type="password" name="password" />
    <br><br>

    <button type="submit">Login</button>

</form>

@if (ViewBag.msg != null)
{
    <p style="color:red">@ViewBag.msg</p>
}