@model Customer___products.Models.Customer

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <label>Phone</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <button type="submit">Update</button>

</form>